<!-- Example row of columns -->
<style>

	ul#sidenav {
		margin-top:20px;
	}

	ul#sidenav li {
		line-height:20px;
	}

	ul#sidenav li a {
		border: 1px solid #e5e5e5;
		font-size:14px;
		padding:9px 15px;
	}

	ul#sidenav > li.first-child > a {
		border-radius: 6px 6px 0 0;
	}

	ul#sidenav .icon-chevron-right {
		float:right;
		margin-top:2px;
		margin-right:-6px;
	}

	span.subnavtxt { color : gray;}
</style>

<div class="row">

	<div class="span3 hidden-phone" >
		<nav>
			<ul id="sidenav" class="nav nav-list">
			  {{#notes}}
			  <li>
			  	<a href="/notes/{{urltitle}}">
			  		
			  		<b>{{title}}</b>
			  		<br>
			  		<span class='subnavtxt'>{{formattedDate}}</span>

			  	</a>
			  </li>
			  {{/notes}}

			</ul>
		</nav>
	</div>
    <div class="span9">
    {{#page}}
        <h2>{{ title }}</h2>
        <p>{{ content }}</p>
    {{/page}}
    </div>

    
</div>